name: jitsi_meet_flutter_sdk
description: A flutter plugin that serves as a Jitsi Meet flutter SDK which provides the same user experience as the Jitsi Meet app.
version: 10.1.2
homepage: https://jitsi.org/
repository: https://github.com/jitsi/jitsi-meet-flutter-sdk

environment:
  sdk: '>=3.0.5 <4.0.0'
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: org.jitsi.jitsi_meet_flutter_sdk
        pluginClass: JitsiMeetPlugin
      ios:
        pluginClass: JitsiMeetPlugin
