name: jitsi_meet_flutter_sdk
description: Jitsi Meet Flutter SDK
version: 0.1.0
homepage: https://jitsi.org

environment:
  sdk: '>=3.0.5 <4.0.0'
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: org.jitsi.jitsi_meet_flutter_sdk
        pluginClass: JitsiMeetPlugin
      ios:
        pluginClass: JitsiMeetPlugin
