name: Publish to pub.dev

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish:
    permissions:
      id-token: write # This is required for requesting the JWT
    uses: dart-lang/setup-dart/.github/workflows/publish.yml@v1
